*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
@media (min-width: 650px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

.nav {
    border: 1px dashed red;
}
@media (min-width: 650px) {
    .nav {
        grid-row:1 / span 2 ;
    }
}
.header {
    border: 1px dashed blue;
}
@media (min-width: 650px) {
    .header {
        grid-column: 2 / span 2;
    }
}

.main {
    border: 1px dashed green;
}

.general {
    border: 1px dashed orange;
}